# Ignore all non-dot files and directories, except for README.md
/*
!.config/
!.config/**
!.gitignore
!README.md

# Neovim plugins (managed by git inside pack)
.config/nvim/pack/

# Tmux plugins and logs
.config/tmux/plugins/
.config/tmux/tmux-*.log
